@media (max-width: 375px) {
  html,
  body {
    overflow-x: hidden;
  }

  .container {
    max-width: 320px;
    padding: 0 5px;
  }
  
  .header__container {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .hero__container {
    padding-top: 41px;
  padding-bottom: 93px;
  }
  
}